.button_style{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px,
}
.button-container{
    display: flex !important;
}
.back{
    margin-top: 20px;
}
.equipment{
    margin-top: 50px;
}
.image-service{
    height: 200px;
}